---
import NavBar from '../components/NavBar.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="asd">
  <main class="">
    <img
      src="/assets/images/bg.webp"
      class="h-[80vh] object-cover w-full"
      alt=""
    />
    <NavBar />
  </main>
</Layout>
