---
import Wrapper from './Wrapper.astro'
---

<nav class="fixed top-0 left-0 h-20 border-3 w-full">
  <Wrapper>
    <div class="h-20 flex items-center">
      <div
        class="h-14 rounded-lg px-4 flex items-center w-full text-white bg-black"
      >
        <a href="#">LUMMA</a>
        <div></div>
        <div></div>
      </div>
    </div>
  </Wrapper>
</nav>
